<form class="flex flex-col gap-5" id="payment-method-form" data-controller="stripe">
  <input type="text" id="customer-id" name="customer-id" class="hidden" value="<%= customer.id %>">
  <div id="card-element" class="border rounded-xl p-3"></div>
  <button class="border px-4 py-2 rounded-xl">Save</button>
</form>