<div id="<%= dom_id customer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= customer.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= customer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stripe ID:</strong>
    <%= customer.customer_stripe_id %>
  </p>
</div>
